@{
    ViewData["Title"] = "Options";
    //var gamePlayingMode = Model.Mode;
}
@using Chess_API.Enums
@model GameModel

<!-- TODO - Responsibility -->
<!-- TODO - Time format is too big from a timespan-->

<main class="flex items-center justify-center w-screen h-[85vh]">
    <!--form element to post all changes the user made -> adjust default values!-->
    <form class="text-lg font-mono font-semibold grid grid-cols-4 grid-rows-2 gap-4 h-1/2 w-2/3" method="post">
        <!--Player 1 date field-->
        <div class="row-span-2 rounded-lg p-2 bg-white flex flex-col space-y-4">
            <h2 class="hover:underline-offset-4 hover:underline transition-all duration-500 h-fit font-bold text-center text-2xl">Player 1 </h2>
            <!--time field-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center p-2 transition-all duration-500">
                <label for="player-one-time" class="mr-2">Time: </label>
                <input id="player-one-time" type="time" asp-for="PlayerOne.StartingTime" placeholder="15:12" class="w-full place-content-center placeholder-slate-300 p-1 rounded-md font-medium"/>
            </div>
            <!--name field-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center transition-all duration-500 p-2">
                <label class="mr-2" for="player-one-name">
                    Name:
                </label>
                <input id="player-one-name" type="text" asp-for="PlayerOne.Name" placeholder="Max ..." class="w-full rounded-md font-medium place-content-center placeholder-slate-300 p-1"/>
            </div>
            <!--Score-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center transition-all duration-500 p-2">
                <p class="font-medium">
                    <span class="font-semibold">Score:</span> @Model.PlayerOne.Score
                </p>
            </div>
            <!--thrown pieces-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center transition-all duration-500 p-2">
                <p class="">Figures: </p>
                @if (Model.PlayerOne.Pieces is not null)
                {
                    @foreach (var figure in Model.PlayerOne.Pieces)
                    {
                        <img src=@figure.PictureSource alt="none" class="w-6 h-6"/>
                    }    
                }
                
            </div>
        </div>
        <!--General information field-->
        <div class="col-span-1 rounded-lg p-2 bg-white">
            <!--heading of the card-->
            <h2 class="hover:underline-offset-4 hover:underline transition-all duration-500 h-fit font-bold text-center text-2xl mb-2">Information</h2>
            <!--Round of the actual game-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center p-2 transition-all duration-500">
                <p class="">Round: <span class="font-medium">@Model.Round</span></p>
            </div>
            <!--Winner of the current game-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center p-2 transition-all duration-500">
                @switch (Model.Winner)
                {
                    case Winner.Draw:
                        <p class="">Winner: <span class="font-medium">- Ended in a Draw - </span></p>
                        break;

                    case Winner.PlayerOne:
                        <p>Winner: <span class="font-medium"> - Player One - </span></p>
                        break;
                    case Winner.PlayerTwo:
                        <p>Winner: <span class="font-medium"> - Player Two - </span></p>
                        break;
                    case Winner.Default:
                        <p>Winner: <span class="font-medium"> - Not Set - </span></p>
                        break;
                }
            </div>
            <!--playing mode choice -> chance for the user to change to game mode if he mis-clicked-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center p-2 transition-all duration-500">
                <label for="game-playing-mode" class="mr-2">Mode: </label>
                <select asp-for="Mode" asp-items="Html.GetEnumSelectList<PlayingMode>()" class="p-2 rounded-md font-medium w-full" id="game-playing-mode">
                </select>
            </div>
        </div>
        <!--time mode playing options -> for the players-->
        <div class="col-span-1 rounded-lg p-2 bg-white">
            <!--heading time mode div-->
            <h2 class="hover:underline-offset-4 hover:underline transition-all duration-500 h-fit font-bold text-center text-2xl mb-2">Time Mode</h2>
            <!--dropdown for the time-modes-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center p-2 transition-all duration-500">
                <label for="game-time-mode" class="mr-2">Time Mode:</label>
                <select asp-items="Html.GetEnumSelectList<PlayTimeMode>()" class="p-2 rounded-md font-medium w-full" id="game-time-mode" asp-for="PlayTimeMode">
                </select>
            </div>
        </div>
        <!--Player 2 data field-->
        <div class="row-span-2 rounded-lg p-2 bg-white flex flex-col space-y-4">
            <!--heading player two div-->
            <h2 class="hover:underline-offset-4 hover:underline transition-all duration-500 h-fit font-bold text-center text-2xl">Player 2</h2>
            <!--time field-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center p-2 transition-all duration-500">
                <label for="player-two-time" class="mr-2">Time: </label>
                <input id="player-two-time" type="time" asp-for="PlayerTwo.StartingTime" placeholder="11:12" class="w-full place-content-center placeholder-slate-300 p-1 rounded-md font-medium"/>
            </div>
            <!--name field-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center transition-all duration-500 p-2">
                <label class="mr-2" for="player-two-name">
                    Name:
                </label>
                <input id="player-two-name" type="text" asp-for="PlayerTwo.Name" placeholder="Mike ..." class="w-full rounded-md font-medium place-content-center placeholder-slate-300 p-1"/>
            </div>
            <!--Score-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center transition-all duration-500 p-2">
                <p class="font-medium">
                    <span class="font-semibold">Score:</span> @Model.PlayerTwo.Score
                </p>
            </div>
            <!--thrown pieces-->
            <div class="rounded-lg hover:bg-slate-200 flex items-center transition-all duration-500 p-2">
                <p class="">Figures: </p>
                @if (Model.PlayerTwo.Pieces is not null)
                {
                    foreach (var figure in Model.PlayerTwo.Pieces)
                    {
                        <img src=@figure.PictureSource alt="none" class="w-6 h-6"/>
                    }
                }
            </div>
        </div>
        <!--Button to go to the game-->
        <div class="col-span-2 flex items-center justify-center pt-3">
            <!--do a clip-path animation when hovering over the button-->
            <button type="submit" asp-controller="Settings" asp-action="SaveGameOptions" class="text-xl rounded-md p-3 bg-slate-700 text-white hover:bg-white hover:text-black hover:-translate-y-1 transition-all duration-500 shadow-lg">Go to the Game</button>
        </div>
    </form>
</main>