@{
    ViewData["Title"] = "Playing";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Chess_API.Enums
@model Chess_API.Models.GameModel

<!--TODO - Connect to controller -> inject form to communicate with controller-->
<!--TODO - when player clicks a field with a figure on it mark these fields who are selected -> where the figure can go!-->
<!--TODO - create a selection algorithm for selection of fields -> implement in the view-->
<!--TODO - use Periodic timer for ticking down the clocks of the single players; let the player select a time option -> sets number of seconds -> will be ticked down-->
<!--https://www.youtube.com/watch?v=N7vhJ7O56iM&t=15s-->

<main class="w-screen p-5 h-full flex items-center justify-center">
    <!--game board-->
    <div class="w-full h-auto flex items-center justify-center">
        <!---->
        <form action="" class="p-3 border-4 border-black rounded-lg bg-blue-950 aspect-square w-fit">
            @foreach (FieldRowModel row in Model.Field)
            {
                <div class="w-fit h-auto my-0 flex items-center justify-center">
                    @foreach (FieldModel field in row.Row)
                    {
                        @switch (field.Color)
                        {
                            case Colors.White when field.Content is { PictureSource: not null }:
                                <button class="bg-white border-1 border-black focus:border-white m-1 aspect-square w-20" type="submit">
                                    <img src=@field.Content.PictureSource alt="none" class="w-fit h-fit"/>
                                </button>
                                break;
                            case Colors.White:
                                <button type="submit" class="bg-white border-1 border-black focus:border-white m-1 aspect-square w-20"></button>
                                break;
                            case Colors.Black when field.Content is { PictureSource: not null }:
                                <button type="submit" class="bg-slate-500 border-1 border-black focus:border-white m-1 aspect-square w-20">
                                    <img src=@field.Content.PictureSource alt="none" class="w-fit h-fit"/>
                                </button>
                                break;
                            case Colors.Black:
                                <button type="submit" class="bg-slate-500 border-1 border-black focus:border-white m-1 aspect-square w-20"></button>
                                break;
                        }
                    }
                </div>
            }
        </form>
    </div>
</main>