@{
    ViewData["Title"] = "Playing";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Chess_API.Enums
@model Chess_API.Models.GameModel

<!--TODO - Connect to controller -> inject form to communicate with controller-->
<!--TODO - Get figure pictures and set picture paths-->
<!--TODO - when player clicks a field with a figure on it mark these fields who are selected -> where the figure can go!-->
<!--TODO - create a selection algorithm for selection of fields -> implement in the view-->
<!--TODO - Default implementation method for game instance-->
<!--TODO - use Periodic timer for ticking down the clocks of the single players; let the player select a time option -> sets number of seconds -> will be ticked down-->
<!--https://www.youtube.com/watch?v=N7vhJ7O56iM&t=15s-->

<main class="w-screen p-5 h-full flex items-center justify-center">
    <!--game board-->
    <div class="rounded-md w-auto h-auto">
        <!---->
        <form action="" class="">
            @foreach (FieldRowModel row in Model.Field)
            {
                <div class="w-screen h-auto my-0 flex items-center justify-center">
                    @foreach (FieldModel field in row.Row)
                    {
                        @if (field.Color == Colors.White)
                        {
                            @if (field.Content != null)
                            {
                                <button class="bg-white border-1 border-black focus:border-white">
                                    <img src="@field.Content.PictureSource" alt="none" class=""/>
                                </button>
                            }
                            else
                            {
                                <button class="bg-white border-1 border-black focus:border-white"></button>
                            }
                        }
                        else if (field.Color == Colors.Black)
                        {
                            @if (field.Content != null)
                            {
                                <button class="bg-black border-1 border-black focus:border-white">
                                    <img src="@field.Content.PictureSource" alt="none" class=""/>
                                </button>
                            }
                            else
                            {
                                <button class="bg-black border-1 border-black focus:border-white"></button>
                            }
                        }
                    }
                </div>
            }
        </form>

    </div>
</main>