@{
    ViewData["Title"] = "Playing";
}
@model GameModel

<main class="w-screen p-5 h-full flex items-center justify-center">
    <!--game board-->
    <div class="rounded-md w-auto h-auto">
        <!--TODO - try out a canvas for the gamefield-->
        <canvas contenteditable="true"></canvas>      
    </div>
</main>