@{
    ViewData["Title"] = "Playing";
}

<main class="w-screen p-5 h-full flex items-center justify-center">
    <!--game board-->
    <div class="rounded-md w-auto h-auto">
        @* @foreach () *@@* { *@
        @*      *@
        @* } *@
    </div>
</main>