@{
    ViewData["Title"] = "Home Page";
}

<div class="flex items-center justify-center w-screen h-screen" role="main">
    <div class="grid grid-cols-1 place-content-center rounded-lg w-[35%] h-[40%] border-2 border-green-500 bg-white">
        <div class="p-2 flex justify-center items-center">
            <button type="button" class=" ml-3 border-2 border-black rounded-lg p-2 hover:p-3 hover:-translate-y-0.5 transition-all duration-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"/>
                </svg>
            </button>
            <p class="text-lg font-mono font-semibold text-black">Play a local game</p>
        </div>
    </div>
</div>